<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>556023887355-rf614cet24qgs2rfssd6dcr3fbfmjh6c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556023887355-rf614cet24qgs2rfssd6dcr3fbfmjh6c</string>
	<key>API_KEY</key>
	<string>AIzaSyAFkuheKBXGePgM-eNuuIG2fuCnzZJwfJs</string>
	<key>GCM_SENDER_ID</key>
	<string>556023887355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TurboOcelots.Oasis</string>
	<key>PROJECT_ID</key>
	<string>oasis-a0e29</string>
	<key>STORAGE_BUCKET</key>
	<string>oasis-a0e29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:556023887355:ios:fced8d93016f2dc5</string>
	<key>DATABASE_URL</key>
	<string>https://oasis-a0e29.firebaseio.com</string>
</dict>
</plist>
